canvas{
    border: 1px solid rgb(0, 0, 0);
    background-color: blue;
}

body{
    margin: 0px;
}

#turno{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background: black;
	border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
	width: 20%;
	padding: 5px;
	font-size: 15px;
}

.topSection{
    display: flex;
    flex-direction: row;
}

.sectionFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #3d3d3d;
    padding: 0.1em;
    color: #00ffff;
    text-align: center;
  }

#reset{
    margin-right: 10px;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
}

#reset:hover{
    background-color: #332f2c;
}

div{
    margin:0px;
    padding:0px;
}