html,
body {
    margin: 0;
    background: black;
}
/**************************** INICIO *****************************/
#inicioCartel{
    height: 500px;
    width: 600px;
    position: absolute;
    left: 330px;
    top: -43px;
    background-image: url(images/start/tableroInicio.png);
}
#areYouReady{
    height: 600px;
    width: 500px;
    transform: scale(1.2);
    transition: transform .2s;
    background-image: url(images/start/areYouReady.png);
}

#lestGo{
    height: 600px;
    width: 500px;
    background-image: url(images/start/letsGo.png);
}

/***************************** MUNDOS *****************************/

 #cielo {
    height: 600px;
    width: 1329px;
    background-image: url(images/mundos/cielo3.png);
}

#montanias {
    position: relative;
    top: 42px;
    width: auto;
    background-image: url(images/mundos/montanias3.png);
}

#arboles {
    position: relative;
    height: 600px;
    width: 1329px;
    background-image: url(images/mundos/arboles3.png);
}

#pasto {
    position: absolute;
    top: 4px;
    height: 600px;
    width: 1329px;
    background-image: url(images/mundos/pasto3.png);
} 

/* #montanias {
  position: relative;
  top: 42px;
  width: auto;
  background-image: url(images/mundos/montanias.png);
}

#cielo2 {
  height: 500px;
  width: 1328px;
  background-image: url(images/mundos/cielo2.png);
}

#pasto2 {
  position: relative;
  top: -1px; /* se posiciona el div del pasto */
  /* height: 1059px;
  width: 1328px;
  background-image: url(images/mundos/pasto2.png);
} */
/* 
#cielo3{
  height: 600px;
  width: 1328px;
  background-image: url(images/mundos/cielo3.png);
} */

/* #pasto{
  position: relative;
  top: -3px;
  height: 600px;
  width: 1329px;
  background-image: url(images/mundos/pasto3.png);
} */

.pasto,
.pasto2,
.pasto3 {
    animation: animacionFondo 10s linear infinite; /* tarda 10 segundos de forma linear e infinitamente en realizar la animacion del fondo */
}

.arboles {
    animation: animacionFondo 20s linear infinite; /* tarda 10 segundos de forma linear e infinitamente en realizar la animacion del fondo */
}

.montanias,
.montanias2,
.montanias3 {
    animation: animacionFondo 30s linear infinite;
}

.cielo,
.cielo2,
.cielo3 {
    animation: animacionFondo 40s linear infinite; /* tarda 40 segundos de manera linear e infinita en hacer la animacion del fondo */
}

/**************************** PERSONAJE ****************************/

#personaje {
    margin: auto;
    position: relative;
    /* se posiciona al personaje en el lugar deseado */
    top: 468px;
    right: 294px;
    width: 100px; /* ancho de cada parte individual de la tira de imagen */
    height: 100px; /* alto de cada parte individual de la tira de imagen */
    background-image: url(images/personaje/caminar.png);
}

.caminar {
    animation: caminar 1s steps(8) infinite; /* tarda 1 segundo con 8 pasos (steps) en hacer la animacion de caminar, infinitamente */
}

.saltar {
    background-image: url(images/personaje/saltar.png);
    animation: saltar 1s steps(12); /* tarda 1 segundo con 12 pasos (steps) en hacer la animacion de saltar */
}

.morir {
    width: 150px !important; /* ancho de cada parte individual de la tira de imagen */
    background-image: url(images/personaje/morir.png) !important;
    animation: morir 1s steps(9); /* tarda 1 segundo con 9 pasos (steps) en hacer la animacion de morir */
}

/**************************** ANIMACIONES ****************************/

/* recorre la tira de caminar que tiene un ancho de 800px */
@keyframes caminar {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -800px;
    }
}

@keyframes saltar {
    0% {
        background-position: 0;
        transform: translateY(-40px);
    } /* la imagen de saltar es 40px mas alta, ajustamos con translateY-40 */
    50% {
        transform: translateY(-150px);
    } /* altura maxima de salto */
    100% {
        background-position: -1200px;
        transform: translateY(-40px);
    } /* recorre todo el ancho de la imagen: (1200px)  y se ajusta 40px*/
}

/*recorre todo el ancho de la imagen, de 0px a 1350px */ /*  [los valores son negativos porque se corre la imagen hacia la izquierda] */
@keyframes morir {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1350px;
    }
}

/*recorre todo el ancho de la imagen de fondo, de 0px a 664px (cuando va por la mitad de la animacion) y termina en 1328px */
@keyframes animacionFondo {
    0% {
        background-position: 0;
    }
    50% {
        background-position: -728px;
    }
    100% {
        background-position: -1456px;
    }
}

@keyframes movimiento{
    0%{
        right: -640px;
    }
    100%{
        right: 1000px;
    }
}

/**************************** OBSTACULOS ****************************/

#stalagtita{
    margin: auto;
    position: relative;
    top: 359px;
    right: -640px;
    width: 80px;
    height: 110px;
    
}

.stalagtita{
    background-image: url(images/obstaculos/stalagtita.png);
    animation: movimiento 7s infinite;
}

#golem{
    margin: auto;
    position: relative;
    top: 247px;
    right: -640px;
    width: 130px;
    height: 120px;
}

.golem{
    animation: movimiento 7s infinite 2s;
}

.golemImg{
    background-image: url(images/obstaculos/golem.png);
}
