@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    width: 428px;
    height: 926px;
    font-family: Roboto;
    background-color: rgb(238, 238, 238);
    color: black;
    border: solid 1px black;
}

#nav-bar{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#nav-back{
    margin-right: 30px;
    margin-top: 16px;
}

#nav-title{
    margin-right: 10px;
    font-size: 23px;
}

#nav-call{
    margin-top: 20px;
    margin-left: 15px;
}

#nav-vid{
    margin-left: 10px;
    margin-top: 20px;
}

#chat{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#mensaje{
    position: absolute;
    padding-left: 1.5em;
    top: 870px;
    left: 20px;
    width: 380px;
    height: 38px;
    background: #606060;
    color: #fff;
    border-radius: 30px;
    border: none;
}

#mensaje::placeholder{
    color: white;
}

#archivo, #camara,#audio,#enviar{
    position: absolute;
    top: 877px;
    left: 315px;
}

#archivo{
    top: 878px;
}

#camara{
    left: 345px;
}

#audio, #enviar{
    top: 874px;
    left: 375px;
}

#enviar{
    top: 877px;
    left: 380px;
}

/* OTRO */

.oculto{
    display: none;
}