@font-face {
    font-family: Roboto;
    src: url(../assets/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Rochester;
    src: url(../assets/fonts/Rochester-Regular.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: Roboto;
    background-color: rgb(238, 238, 238);
    color: black;
    width: 428px;
}

a{
    text-decoration: none;
}

/************************************************************  NAV  ************************************************************/

#nav{
    width: 428px;
    height: 95px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-color: #fff;
}

#titulo-principal, #logo{
    position: absolute;
}

#logo{
    width: 72px;
    top: 0px;
    left: 15px;
}

#titulo-principal{
    font-size: 53px;
    left: 90px;
    top: -32px;
    font-family: Rochester;
    color: #eeba02;
}

#configuracion{
    position: absolute;
    left: 385px;
    top: 23px;
}   

.op1, .op2{
    font-size: 16px;
}

.op1{
    position: absolute;
    left: 12px;
    top: -8px;
    z-index: 3;
}

.ico-op1{
    position: absolute;
    left: 118px;
    top: 5px;
    z-index: 3;
}

.op2{
    position: absolute;
    left: 12px;
    top: 22px;
    z-index: 3;
}

.ico-op2{
    position: absolute;
    left: 100px;
    top: 13px;
    z-index: 3;
}

#popUp{
    border-radius: 5px;
    position: absolute;
    left: 255px;
    top: 47px;
    z-index: 0;
    background-color: rgb(211, 211, 211);
    width: 150px;
    height: 67px;
    border: 1px solid rgb(177, 177, 177);
}

/************************************************************  CUERPO ************************************************************/

#contenedor-publicaciones{
    position: absolute;
    z-index: 2;
    width: 428px;
    height: 1182px;
    margin-top: 105px;
    /* background-color: rgb(186, 186, 186); */
}
#imagen-perfil{
    padding: 0.2em 0;
}
#imagen-perfil-publicacion1, #usuario-publicacion1, #fecha-publicacion1, #imagen-perfil-publicacion2, #usuario-publicacion2, #fecha-publicacion2{
    position: absolute;
}

#imagen-perfil-publicacion1{
    left: 16px;
    top: 9px;
    width: 43px;
    height: 43px;
    border: solid 1px black;
    border-radius: 50%;
}

#usuario-publicacion1{
    left: 75px;
    top: -9px;
}

#fecha-publicacion1{
    font-family: Roboto Light;
    font-size: 13px;
    left: 74px;
    top: 19px;
}

#publicacion1, #publicacion2{
    width: 428px;
    height: 299px;
    margin-top: 50px;
    background-color: #F4CF4B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto Medium;
}

#reaccionar-publicacion1{
    display: flex;
    margin-left: -3px;
}

#mg{
    margin-top: 5px;
    margin-left: 20px;
}

#no-mg{
    margin-left: -28px;
    margin-top: 7px;
}


#mg2{
    margin-top: 5px;
    margin-left: 20px;
}

#no-mg2{
    margin-left: -28px;
    margin-top: 7px;
}

#comentar{
    margin-left: -25px;
    margin-top: 8px;
}

#reacciones-publicacion1{
    margin-top: -35px;
    margin-left: 20px;
}

#cantidad-mg-publicacion1{
    font-weight: 800;
    font-size: 14px;
}

#cantidad-mg-publicacion2{
    font-weight: 800;
    font-size: 14px;
}

#pie-publicacion1{
    width: 100%;
    margin-top: -10px;
    margin-left: 2px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pie-usuario-publicacion1{
    margin-top: -1px;
    margin-left: -1px;
    font-weight: 550;
    align-items: center;
    font-size: 14px;
}

#comentario-autor-publicacion1{
    font-family: Roboto Light;
    font-size: 13px;
    margin-top: -4px;
    margin-left: 5px;
}

#ver-comentarios-publicacion1{
    font-size: 12px;
    margin-top: -5px;
    margin-left: 2px;
    color: #686666;
}

#imagen-perfil2{
    margin-top: 30px;
}

#imagen-perfil-publicacion2{
    left: 18px;
    top: 649px;
    width: 43px;
    height: 43px;
    border: solid 1px black;
    border-radius: 50%;
}

#usuario-publicacion2{
    left: 75px;
    top: 631px;
}

#fecha-publicacion2{
    font-family: Roboto Light;
    font-size: 13px;
    left: 75px;
    top: 659px;
}

#imagen-publicacion2{
    width: 375px;
    height: 250px;
}

#icono-galeria{
    position: absolute;
    left: 205px;
    top: 982px;
}

#icono-next{
    position: absolute;
    left: 403px;
    top: 850px;
}

#icono-prev{
    position: absolute;
    left: 3px;
    top: 850px;
}

/************************************************************  FOOTER  ************************************************************/

#footer{
    background-color: rgb(238, 238, 238);
    z-index: 3;
    position: fixed;
    left: 0px;
    width: 428px;
    height: 67px;
    top: 880px;
    border-top: 1px solid rgb(21, 21, 21);
}

#feed, #chats, #publicar, #buscar, #imagen-footer{
    position: absolute;
}

#feed{
    left: 24px;
    bottom: 21px;
}

#chats{
    left: 110px;
    bottom: 20px;
    cursor:pointer;

}

#publicar{
    left: 194px;
    bottom: 16px;
}

#buscar{
    left: 280px;
    bottom: 22px;
    cursor:pointer;
}

#imagen-footer{
    width: 34px;
    height: 34px;
    border: solid 1px black;
    border-radius: 50%;
    left: 360px;
    bottom: 24px;
}


/* OTRO */

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}