@font-face {
    font-family: Rochester;
    src: url(../assets/fonts/Rochester-Regular.ttf);
}

.contenedorLogin {
    width: 1329px;
    height: 800px;

}

#fondo {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/fondo.jpg);
    background-size: cover;
    opacity: .6;
}

/* #imagenLogo{
    background-image: url(../assets/images/logo.jpg);
    width: 40%;
    height: 40%;
} */
#logo h1{
    font-family: Rochester;
    color: #eeba02;
    font-size: 10em;

}

#imagenGatoPerro {
    background-image: url(../assets/images/dog-cat.png);
    width: 33%;
    background-size: cover;
    height: 36%;
    /* align-self: self-end;
    margin: 0 0 15% 18%; */
}

#patitas {
    width: 65%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-direction: column;
    padding-left: -8em;
    align-items: center;
}

#popUpInicio {
    width: 35%;
    display: flex;
    align-items: center;
    opacity: 1 !important;
}

#divLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 65%;
    background-color: #fff;
    height: 42%;
    border-radius: 1em;
    box-shadow: 0px 0px 2px;
    margin-right: 4em;
    padding-bottom: 1em;
}

.divInicioSesion {
    display: flex;
    flex-direction: column;
    margin: 10%;
    text-align: initial;
}

.divInicioSesion label {
    font-size: 0.8em;
    margin: 1em 0 0;
}

.divInicioSesion input[type=text],
input[type=password] {
    padding: 0.8em 0.5em;
    border-radius: 8px;
    margin: 0.7em 0;
}

.divInicioSesion button {
    border-radius: 1em;
    width: 70%;
    padding: 0.5em;
    background-color: #F4CF4B;
    margin: 2% 18%;
}

.divRegistrarse button {
    padding: 0.7em 2em;
    border-radius: 1em;
    background-color: #A9A9A9;
}

.divInicioSesion button:hover {
    background-color: #eeba02;
    cursor: pointer;
}

.divRegistrarse button:hover {
    background-color: #606060;
    cursor: pointer;
}