body{
    margin: 0;
}
@font-face {
    font-family: Rochester;
    src: url(../assets/fonts/Rochester-Regular.ttf);
}

.contenedor {
    width: 1329px;
    height: 800px;

}
/****************** PC *********************/
.divHomePC{
    background-color: #B4B4B4;
}
.headerPC{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "logo . buscador . iconos";
    background-color: #fff;
    align-items: center;
}
/* .headerPC{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10%;
    align-items: center;
    background-color:#fff;
    position: fixed;
} */
.logoPC{
    margin-left: 2em;
    display: flex;
    align-items: center
}
.logoPC img{
    width: 110%;
    height: fit-content;
}

.logoPC h1{
    font-family: Rochester;
    color: #eeba02;
    font-size: 2.8em;
    grid-area: logo;
}
.buscador{
    grid-area: buscador;
}
.buscador input{
    width: 390%;
    padding: 0.8em;
    border-radius: 0.5em;
}
.buscador svg{
    position: absolute;
    padding: 0.5em 0 0 27%;
}
.navegador_Pc{
    display: flex;
    justify-content: end;
    grid-area: iconos;
    align-items: center;
}
.button_Header{
    margin-right: 0.7em;
}
.navegador_Pc img{
    width: 10%;
    padding-right: 0.7em;
}

.contenedorMain{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
    "secciones publicaciones contactos";
     height: 600px;

}
.divAsidePc{
    grid-area: secciones;
    margin: 1em;
    background-color: #fff;
}
.publicaciones{
    grid-area: publicaciones;
    margin: 1em;
    background-color: #fff;

}
.divAsideContactos{
    grid-area: contactos;
    margin: 1em;
    background-color: #fff;

}
.iconosSectionHome{
    display: flex;
    flex-wrap: wrap;
}
.iconosHome{
    text-align: center;
    width: 50%;
    margin-top: 1em;
}
.iconosHome h4{
    margin-top:0.5em;
}
.verMas{
    display: flex;
    align-items: center;
    padding: 0 25%;
}
/****************** LOGIN *********************/

#fondo {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../assets/images/fondo.jpg);
    background-size: cover;
    opacity: .6;
}

/* #imagenLogo{
    background-image: url(../assets/images/logo.jpg);
    width: 40%;
    height: 40%;
} */
#logo h1{
    font-family: Rochester;
    color: #eeba02;
    font-size: 10em;

}

#imagenGatoPerro {
    background-image: url(../assets/images/dog-cat.png);
    width: 33%;
    background-size: cover;
    height: 36%;
    /* align-self: self-end;
    margin: 0 0 15% 18%; */
}

#patitas {
    width: 65%;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-direction: column;
    padding-left: -8em;
    align-items: center;
}

#popUpInicio {
    width: 35%;
    display: flex;
    align-items: center;
    opacity: 1 !important;
}

#divLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 65%;
    background-color: #fff;
    height: 42%;
    border-radius: 1em;
    box-shadow: 0px 0px 2px;
    margin-right: 4em;
    padding-bottom: 1em;
}

.divInicioSesion {
    display: flex;
    flex-direction: column;
    margin: 10%;
    text-align: initial;
}

.divInicioSesion label {
    font-size: 0.8em;
    margin: 1em 0 0;
}

.divInicioSesion input[type=text],
input[type=password] {
    padding: 0.8em 0.5em;
    border-radius: 8px;
    margin: 0.7em 0;
}

.divInicioSesion button {
    border-radius: 1em;
    width: 70%;
    padding: 0.5em;
    background-color: #F4CF4B;
    margin: 2% 18%;
}

.divRegistrarse button {
    padding: 0.7em 2em;
    border-radius: 1em;
    background-color: #A9A9A9;
}

.divInicioSesion button:hover {
    background-color: #eeba02;
    cursor: pointer;
}

.divRegistrarse button:hover {
    background-color: #606060;
    cursor: pointer;
}