html,
body {
  margin: 0;
  background: black;
}
/**************************************** INICIO ****************************************/
#inicioCartel {
  height: 500px;
  width: 600px;
  position: absolute;
  left: 330px;
  top: -43px;
  visibility: hidden;
  animation: inicioCartel 9s;
  background-image: url(../images/start/tableroInicio.png);
}

.divCount {
  font-family: 'Carter One', sans-serif;
  text-align: center;
  height: 500px;
  padding-top: 5em;
  transform: scale(1);
  transition: transform 0.1s;
  color: #3e143d;
  text-shadow: 6px 1px 1px #339900;
  width: 100%;
  height: 100%;
  animation: divCount 8s;
}

.letsGo {
  height: 500px;
  /* animation: letsGo 6s; */
  transition: transform 0.1s;
  background-image: url(../images/start/letsGo.png);
}

#countdown {
  font-size: 7em;
  animation: cuentaRegresiva 6s;
}

@keyframes inicioCartel {
  0% {
    top: -580px;
    visibility: visible;
  }
  25%, 70% {
    top: -43px;
  }
  100% {
    top: -580px;
    visibility: hidden;
  }
}
@keyframes divCount {
  0% {
    background-image: url(../images/start/areYouReady.png);
  }
  100% {
    background-image: none;
  }
}

@keyframes cuentaRegresiva {
  0% {
    background-position: 0;
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    background-position: 100px;
    transform: scale(1.3);
  }
}
/**************************************** MUNDOS ****************************************/

#cielo {
  position: relative;
  height: 602px;
  width: 1329px;
  background-image: url(../images/mundos/cielo3.png);
}

#montanias {
  position: relative;
  top: 42px;
  width: auto;
  background-image: url(../images/mundos/montanias3.png);
}

#arboles {
  position: relative;
  height: 600px;
  width: 1329px;
  background-image: url(../images/mundos/arboles3.png);
}

#pasto {
  position: relative;
  top: 4px;
  height: 600px;
  width: 1329px;
  background-image: url(../images/mundos/pasto3.png);
}

/* #montanias {
  position: relative;
  top: 42px;
  width: auto;
  background-image: url(images/mundos/montanias.png);
}

#cielo2 {
  height: 500px;
  width: 1328px;
  background-image: url(images/mundos/cielo2.png);
}

#pasto2 {
  position: relative;
  top: -1px; /* se posiciona el div del pasto */
/* height: 1059px;
  width: 1328px;
  background-image: url(images/mundos/pasto2.png);
} */
/* 
#cielo3{
  height: 600px;
  width: 1328px;
  background-image: url(images/mundos/cielo3.png);
} */

/* #pasto{
  position: relative;
  top: -3px;
  height: 600px;
  width: 1329px;
  background-image: url(images/mundos/pasto3.png);
} */

.pasto,
.pasto2,
.pasto3 {
  animation: animacionFondo 10s linear infinite; /* dura 10 segundos de forma linear e infinitamente la animacion del fondo */
}

.arboles {
  animation: animacionFondo 20s linear infinite; /* dura 10 segundos de forma linear e infinitamente la animacion del fondo */
}

.montanias,
.montanias2,
.montanias3 {
  animation: animacionFondo 30s linear infinite;
}

.cielo,
.cielo2,
.cielo3 {
  animation: animacionFondo 40s linear infinite; /* dura 40 segundos de manera linear e infinita la animacion del fondo */
}

/**************************** PERSONAJE ****************************/

#personaje {
  position: relative;
  /* se posiciona al personaje en el lugar deseado */
  top: 468px;
  left: 200px;
  width: 100px; /* ancho de cada parte individual de la tira de imagen */
  height: 100px; /* alto de cada parte individual de la tira de imagen */
  background-image: url(../images/personaje/caminar.png);
  /* border: 1px solid black; */
}

.caminar {
  animation: caminar 1s steps(8) infinite; /* dura 1 segundo con 8 pasos (steps) la animacion de caminar, infinitamente */
}

.saltar {
  background-image: url(../images/personaje/saltar.png);
  animation: saltar 1s steps(12); /* dura 1 segundo con 12 pasos (steps) la animacion de saltar */
}

.morir {
  width: 150px !important; /* ancho de cada parte individual de la tira de imagen */
  background-image: url(../images/personaje/morir.png) !important;
  animation: morir 1.5s steps(9); /* dura 3 segundos con 9 pasos (steps) la animacion de morir */
}

/**************************************** ANIMACIONES ****************************************/

/* recorre la tira de caminar que tiene un ancho de 800px */
@keyframes caminar {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -800px;
  }
}

@keyframes saltar {
  0% {
    background-position: 0;
    top: 468px;
  }
  50% {
    top: 278px; /* altura maxima de salto */
  } 
  100% {
    top: 468px;
    background-position: -1200px; /* recorre todo el ancho de la imagen: (1200px)*/
  } 
}

/*recorre todo el ancho de la imagen, de 0px a 1350px */ /*  [los valores son negativos porque se corre la imagen hacia la izquierda] */
@keyframes morir {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1350px;
  }
}

/*recorre todo el ancho de la imagen de fondo, de 0px a 664px (cuando va por la mitad de la animacion) y termina en 1328px */
@keyframes animacionFondo {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -728px;
  }
  100% {
    background-position: -1456px;
  }
}

@keyframes enemigos {
  0% {
    left: 1219px;
  }
  100% {
    left: -700px;
  }
}

/**************************************** OBSTACULOS ****************************************/

#stalagtita {
  position: relative;
  top: 359px;
  left: 1219px;
  width: 80px;
  height: 110px;
  /* border: 1px solid black; */
}

.stalagtita {
  background-image: url(../images/obstaculos/stalagtita.png);
  animation: enemigos 7s infinite;
}

#golem {
  position: relative;
  top: 249px;
  left: 1219px;
  width: 130px;
  height: 110px;
  /* border: 1px solid black; */
}

.golem {
  animation: enemigos 7s infinite 2s;
}

.golemImg {
  background-image: url(../images/obstaculos/golem.png);
}

/********************** PUNTAJE *************************/

#puntaje{
  position: relative;
  color: yellow;
  left: 1240px;
  top: -340px;
  font-family: 'Carter One';
}

/******************* BARRA PROGRESION ******************************/

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
  position: relative;
  top: -409px;
  left: 474px;
  padding: 5px;
  width: 350px;
  margin: 50px 0;         
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
  display: inline-block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out; 
  background-color: #ccc;   
}

/**** GRADIENTS ****/
.blue span {
  background-color: #34c2e3;   
}

.orange span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);  
}   

.green span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916);  
}

/**** STRIPES ****/
.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);            

  animation: animate-stripes 3s linear infinite;             
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 100px 0;}
}

/**** SHINE ****/
.shine span {
  position: relative;
}

.shine span::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  border-radius: 3px;
  animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
  0% {opacity: 0; width: 0;}
  50% {opacity: .5;}
  100% {opacity: 0; width: 95%;}
}

/**** GLOW ****/
.glow span {
  box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;    
  animation: animate-glow 1s ease-out infinite;          
}

@keyframes animate-glow {
  0% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;} 
  50% { box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;} 
  100% { box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

/* #spanProgresion{
  width: 10% !important;
} */

.oculto{
  display: none;
}